
<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11" classs="expereincia">
            <ul>
                <li>
                    <h2>Truly Nolen Argentina</h2>
                    <h3>(2019-Actualidad)</h3>
                </li>
                    <li>Puesto: Asesor técnico comercial. <br/>
                        Venta de servicios a nuevos clientes.
                        Visita y atención de clientes, para dar soporte técnico y realizar mejoras en el servicio.
                        Capacitar  al personal técnico de terreno y fuerza de ventas, mediante charlas y capacitaciones.
                        Personal a cargo.
                     </li>
                     <li>
                        <h2>Prarex Indutries S.A.</h2>
                        <h3>(2018-2019)</h3>
                </li>
                        <li>Puesto: Analista de proyectos. <br/>
                            Análisis e implementación de proyectos agroproductivos en distintas zonas del país
.
                         </li>
                <li>
                            <h2>BP Agroservicios S.A.</h2>
                            <h3>(2011-2018)</h3>
                </li>
                      <li>Puesto: Asesor técnico comercial. <br/>
                        Venta y comercialización de productos. Confección y seguimiento de ensayos a campo de los productos de la empresa
                        
                      </li>
                <li>
                                <h2>El Tejar S.A</h2>
                                <h3>(2010)</h3>
                </li>
                       <li>Puesto: Control de cosecha. <br/>
                                    Control de cosecha en los campos asignados por la empresa. Logistica de cmione, emision de cartas de porte.
                        </li>
                <li>
                                    <h2>FAUBA- Cátedra Fisiología Animal.</h2>
                                    <h3>(2007-2010)</h3>
                 </li>
                        <li>Puesto: Ayudante de catedra.  <br/>
                                        Ayudante de catedra. Trabajo en laboratorio con semen ovino.
                                        Entrenamiento de carneros a campo.
                        </li>
            </ul>
    </div>

</div>
