
<div class="row">
    <h1>Formación</h1>
    <div class="col-lg-11" classs="formacion">
            <ul>
                <li>
                    <h2>Tramo de Formación Pedagógica Nivel Medio</h2>
                    <h3>(2019-2020)</h3>
                </li>
                    <li>UNIVERSIDAD DEL ESTE-LA PLATA <br/>
                        El tramo pedagógico realizado es una capacitación docente para profesionales con aval universitario. 
                        Es un título habilitante para que los profesionales puedan dar clases en las instituciones educativas de la provincia.
                     </li>
                     <li>
                        <h2>Especialización en Formulación y Evaluación de Proyectos Agropecuarios y Agroindustriales. (Adeudando tesis)
                        </h2>
                        <h3>(2015)</h3>
                </li>
                        <li>FACULTAD DE AGRONOMÍA-UBA <br/>
                            La especialización capacita, en un marco interdisciplinario, para desenvolverse en el proceso de identificar, formular, evaluar y gestionar proyectos públicos y/o privados vinculados con el complejo agrícola y agroindustrial.
                         </li>
                <li>
                            <h2>Ingeniero Agrónomo</h2>
                            <h3>(2003-2014)</h3>
                </li>
                      <li>FACULTAD DE AGRONOMÍA-UBA <br/>
                        Perfil del graduado<br/>
                        El Ingeniero Agrónomo es aquel graduado universitario con una sólida formación científica y tecnológica que le permite intervenir en las cadenas productivas de base agropecuaria, en el ambiente y en la preservación de los recursos naturales desde una visión integral y sustentable, dentro de un contexto socioeconómico con diversos niveles de innovación e incertidumbre, con el fin de promover el desarrollo nacional y el del sector agropecuario.
                      </li>
                
            </ul>
    </div>

</div>
