<div class="row">
<H1>Hard & Solf Skills</H1>

    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="25"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            [title]="'HTML'"
        ></circle-progress>
        
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="15"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            [title]="'CSS'"
        ></circle-progress>
        
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="30"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            [title]="'JavaScript'"
        ></circle-progress>
        
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            [title]="'Ingles'"
        ></circle-progress>
        
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="25"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            [title]="'Trabaja en Equipo'"
        ></circle-progress>
        
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">

        <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="700"
            [title]="'Capacidad de comunicación'"
        ></circle-progress>
        
    </div>

</div>