
<div class="row">

    <div class="container">

         <div class="logo">

            <img src="../../../assets/APLogo.png" id="logoAP">

        </div>

        <div class="redes">
            <div>

                <a href="http://"><img src="../../../assets/githubLogo.png" id="githubLogo"></a>
                <a href="http://"><img src="../../../assets/linkedinLogo.png" id="linkedinLogo"></a>
                <button type="button" class="btn btn-light">INGRESO</button>

            </div>

        </div>
    </div>
</div>

