.row{

    padding: 20px
    
}

div{

    background-color: rgb(127, 178, 255);
    text-align: center;
}

/*foto perfil*/

@media (min-width: 576px) {
#fotoPerfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 3%;
    top: 210px;;
}
}



/*Nombre del usuario*/

#nombre{

    font-weight: bold;
    margin-top: 10%;
    margin-left: 10px;
}
