
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoPerfil.jpg" 
            class="img-fluid" id="fotoPerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Ing. Agr. Damián M. Comas</p>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>
                    Acerca de mi
                </h1>
                <p>
                    Mi objetivo es poder formar parte de una Empresa para desempeñarme, ofrecer y desarrollar todas mis capacidades. Contribuir con mi experiencia profesional, actitud, valores y ética buscando siempre mejorar en todas las actividades que desarrolle, a las expectativas de la Empresa alineándome con su estrategia
                </p>
            </span>
        </div>
    </div>
