.row{

padding: 20px;

}

div{

background-color: rgba(221, 200, 220, 0.226);

}

h2,h3{

    display: inline;

}

#experiencia{

    padding: 50px;
}
/*separacion de empresa con los ños*/

h3{
    padding: 10px;
}